ErrorDocument 404 /pages/erro/erro.php?404
ErrorDocument 403 /pages/erro/erro.php?403
ErrorDocument 500 /pages/erro/erro.php?500
ErrorDocument 502 /pages/erro/erro.php?502
ErrorDocument 503 /pages/erro/erro.php?503
ErrorDocument 504 /pages/erro/erro.php?504

Options -Indexes