body,html {
    height: 100%;

}
body{
    display: flex;
    flex-direction: column;
}
main.TwoFacAuth {
   
    font-family: 'Barlow','Arial';
    display: grid;
    place-items: center;
    height: 100%;
    padding: 1rem;
}
@media screen and (min-width: 1024px) {
    main.TwoFacAuth > form {
        max-width:  40% !important;
    }
    
}
main.TwoFacAuth > form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px black;

    > fieldset {
        padding: 0.5rem;
        >label {
            display: block;
            font-weight: bold;
            line-height: 1.5rem;
            font-size: 1rem;
        }
        > input {
            padding: 0.5rem;
            border-radius: 4px;
            border: 1px solid var(--primary-color);
            box-shadow: 0 2px 4px black;
            width: 100%;
        }
        > input:focus {
            outline: none;
            border: 1px solid var(--cta-button);
        }

        > button[type="submit"] {
            width: 100%;
            padding: 0.5rem;
            background: var(--cta-button);
            border-radius: 4px;
            box-shadow: 0 2px 4px black;
            cursor: pointer;

            font-family:'Barlow Condensed';
            font-weight: 500;
            font-size: 1.25rem;
        }
        >button:hover, >button:focus {
            background: var(--cta-button-hover);
        }
    }
}